@import "tailwindcss";

:root {
  --background: #fafaf7;
  --foreground: #111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: #fafaf7;
  --color-card: #fff;
  --color-near-black: #111;
  --color-muted: #666;
  --color-light-border: #e5e5e0;
  --font-headings: var(--font-kamerik105);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-paul-grotesk);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}
